node_modules
dist
dist-ssr
env
.env
MockMateAI_Project_Report.md
MockMateAI_Project_Report.pdf
.env.*.local
*.local
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.pdf